/*
=================
whole page
=================
*/
body {
  margin: 0 !important;
  padding: 0 !important;
}
#carousel {
  background-color:#F7F7F7;
  width:100%;
}
.bodyWrapper {
  background-color:#F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding-top: 3%;
  padding-bottom: 3%;
  -webkit-font-smoothing: antialiased;
  color: #222222;
  box-sizing: border-box;
}
.wrapper {
  background-color:#F7F7F7;
  width: 100%;
}
div {
  display: block;
  margin: 0;
  padding-bottom: 0;
}


li {
  display: list-item;
  text-align: -webkit-match-parent;
}

h2 {
  margin: 0;
  font-size: 22px !important;
  font-weight: 600 !important;
}

/*
=================
header
=================
*/
.page {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  margin-right: 16px !important;
  color: #222222;
  margin: 0;
}
.rbtndiv {
  margin-left: 6px !important;
}

.rbtn {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  appearance: none !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgb(34, 34, 34) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  background-clip: padding-box !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
  width: 32px !important;
  height: 32px !important;
}

.rbtn:hover {
  border-color: rgba(0, 0, 0, 0.08) !important;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  transform: scale(1.04) !important;
}
.lbtndiv {
  margin-right: 6px !important;
}
.lbtn {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  appearance: none !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgb(34, 34, 34) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  background-clip: padding-box !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
  width: 32px !important;
  height: 32px !important;
}

.lbtn:hover {
  border-color: rgba(0, 0, 0, 0.08) !important;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  transform: scale(1.04) !important;
}

.spanner {
  font-weight: 700;
}

.title {
  font-size: 16px !important;
  margin: 0;
  font-weight: 200 !important;
  margin-left: 10px;
}

.header_div {
  font-size: 16px !important;
  width: 100% !important;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  -webkit-box-pack: justify !important;
  -webkit-box-align: center !important;
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  padding-bottom: 24px !important;
}

.rightSide {
  justify-content: space-between !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  white-space: nowrap !important;
  padding-right: 10px;
}
.arrowButtons {
  justify-content: space-between !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  white-space: nowrap !important;
  padding-right: 10px;
}

/*
==================================
Carousel
==================================
*/

.display {
  box-sizing: border-box !important;
  display: flex !important;
  height: 100% !important;
  list-style: none !important;
  overflow: hidden !important;
  padding-left: 0 !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  min-width: 100% !important;
  scroll-snap-type: x mandatory !important;
}

.slideContainer {
  min-width: 100% !important;
  max-height: 100%;
  box-sizing: border-box !important;
  display: flex !important;
  list-style-type: none !important;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  scroll-snap-type: x mandatory !important;
  justify-content:space-between !important;
}

.slide {
  position: relative !important;
  border-radius: 8px !important;
  display: block !important;
  box-sizing: border-box;
  border-color: transparent !important;
  border-width: 0px 10px !important;
  max-width: calc(25% - 20px) !important;
  flex: 0 0 calc(25% - 20px) !important;
  margin: 0 10px;
}

/*
==================================
image overlay
==================================
*/

.souperhost_box {
  top: 13px;
  left: 10px;
  min-width: 33%;
  min-height: 9%;
  background-color: rgba(255, 255, 255, 0.95);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  color: rgb(34, 34, 34);
  display: inline-flex !important;
  vertical-align: top !important;
  background-clip: padding-box !important;
  max-width: 100% !important;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
  border-radius: 4px !important;
  padding: 4px 8px !important;
  position: absolute;
  box-sizing: border-box;
}
.souperhost {
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
  max-height: 16px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  box-sizing: border-box;
}

.image {
  border-radius: 12px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  cursor: pointer;
  max-width: 100%;
}

.heartButton {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  cursor: pointer !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  background: transparent !important;
  line-height: 20px !important;
  border-radius: 50% !important;
  outline: none !important;
  transition: transform 0.25s ease 0s !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: none !important;
  color: rgb(34, 34, 34) !important;
  margin: 0px !important;
  min-width: 24px !important;
  min-height: 20px !important;
  z-index: 1;
}
.heartShapedBox {
  top: 11px;
  right: 12px;
  max-width: 26px;
  max-height: 24px;
  min-width: 26px;
  min-height: 24px;
  position: absolute;
}

.heart {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: .5;
}

.pink_heart {
  top: 1px;
  width: 100%;
  height: 95%;
  position: absolute;
  z-index: 0;
  opacity: 1;
}

.outline_box {
  top: 14px;
  right: 13px;
  max-width: 24px;
  max-height: 20px;
  min-width: 24px;
  min-height: 20px;
  position: absolute;
  filter: invert(100%);
}

.heart_outline {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*
==================================
slide text
==================================
*/

.star {
  max-width: 14px;
  max-height: 14px;
  margin-right: 3px;
  margin-bottom: 1px;
  -webkit-box-align: center !important;
  align-items: center !important;

}

.avg {
  font-weight: 400 !important;
}

.review_count {
  color: rgb(113, 113, 113) !important;
  font-weight: 400;
  margin-left: 3px;
}

.place_title {
  color: rgb(34, 34, 34) !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  max-height: 20px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  margin-bottom: 1px;

}

.review_nums {
  -webkit-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  white-space: nowrap !important;
  font-size: 14px !important;
  line-height: 18px !important;
  margin-bottom: 6px;
}

.price {
  font-weight: 500 !important;
  position: relative !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  white-space: nowrap !important;
  font-size: 16px !important;
  line-height: 18px !important;
  margin-bottom: 6px;
  margin-right: 3px;
  margin-top:4px;
}

.night {
  font-weight: 400 !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  white-space: nowrap !important;
  font-size: 14px !important;
  line-height: 18px !important;
  margin-bottom: 6px;
  margin-top:4px;
}

/*
==================================
Modal
==================================
*/

.modal_container {
  -webkit-box-pack: center !important;
  -webkit-box-align: end !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: horizontal !important;
  z-index: 2000 !important;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  padding-top: 12px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-end !important;
  justify-content: center !important;
}

.dim_effect {
  z-index: 2000 !important;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  overflow-y: auto !important;
  background: rgb(34, 34, 34) !important;
  animation-duration: 400ms !important;
  animation-iteration-count: 1 !important;
  animation-fill-mode: both !important;
  animation-name: start;
}

.modal {
  width: 100% !important;
  max-width: 568px !important;
  border-radius: 12px !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  background: rgb(255, 255, 255) !important;
  position: relative !important;
  max-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  animation-duration: 400ms !important;
  animation-iteration-count: 1 !important;
  animation-fill-mode: both !important;
  animation-name: slide_up;
}

.dim_effect_close {
  z-index: 2000;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  overflow-y: auto !important;
  background: rgb(34, 34, 34) !important;
  animation-duration: 400ms !important;
  animation-iteration-count: 1 !important;
  animation-fill-mode: both !important;
  animation-name: close;
}

@keyframes slide_up {
  from {
    bottom: 0;
  }

  to {
    bottom: 50vh;
  }
}

@keyframes slide_down {
  from {
    bottom: 50vh;
  }

  to {
    bottom: 0;
    z-index: -1;
  }
}

@keyframes start {
  from {
    opacity: 0%;
  }

  to {
    opacity: 60%;
  }
}

@keyframes close {
  from {
    opacity: 60%;
  }

  to {
    z-index: -1;
    display: none;
    opacity: 0%;
  }
}

.x_box {
  position: absolute !important;
  display: flex !important;
  top: 16px !important;
  left: 24px !important;
}

.modal_header {
  -webkit-box-pack: justify !important;
  -webkit-box-align: center !important;
  min-height: 64px !important;
  display: flex !important;
  flex: 0 0 auto !important;
  align-items: center !important;
  justify-content: space-between !important;
  border-bottom: 1px solid rgb(235, 235, 235) !important;
  padding: 0px 24px !important;
  color: rgb(34, 34, 34) !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 800 !important;
}

.modal_header_text_box {
  -webkit-box-flex: 0 !important;
  overflow: hidden !important;
  flex: 0 1 auto !important;
  text-align: center !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.spacer_left {
  -webkit-box-flex: 0 !important;
  flex: 0 0 16px !important;
  text-align: left !important;
}

.spacer_right {
  -webkit-box-flex: 0 !important;
  flex: 0 0 16px !important;
  text-align: right !important;
}

.x_button {
  appearance: none !important;
  display: inline-block !important;
  border-radius: 50% !important;
  border: none !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgb(34, 34, 34) !important;
  cursor: pointer !important;
  position: relative !important;
  background: transparent !important;
  transition: transform 0.25s ease 0s !important;
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
  z-index: 2000;
}

.x_button:hover {
  background: rgb(247, 247, 247) !important;
}

.modal_middle {
  padding: 20px 16px !important;
  overflow-y: auto !important;
}

/*
==================================
middle of modal
==================================
*/

.modal_middle_btn {
  z-index: 2000;
  cursor: pointer !important;
  position: relative !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  border-radius: 0px !important;
  outline: none !important;
  transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s !important;
  background: transparent !important;
  border: none !important;
  color: inherit !important;
  display: block !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: inherit !important;
  text-decoration: none !important;
  height: 100% !important;
  width: 100% !important;
}

.modal_middle_div {
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  padding: 12px !important;
  border-radius: 8px !important;
}

.modal_middle_btn:hover {
  background: rgb(247, 247, 247) !important;
}

.modal_middle_btn_div {
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  padding: 12px !important;
  border-radius: 8px !important;
}

.modal_picture_box {
  margin-right: 16px !important;
  height: 64px !important;
  background: rgb(221, 221, 221) !important;
  border-radius: 4px !important;
}

.modal_image {
  border-radius: 12px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.modal_middle_text {
  flex: 1 1 0% !important;
}
.anytime {
  margin-bottom: 4px !important;
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  color: rgb(113, 113, 113) !important;
}

.saved_listings {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
  color: rgb(34, 34, 34) !important;
}

.counted_stays {
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
  margin-top: 4px !important;
  color: rgb(34, 34, 34) !important;
}