div {
  background-color:#F7F7F7;
  color: #FF385C;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
}

button {
  font-family: 'Montserrat', sans-serif;
  color: #222222;
}